In [1]:
import pandas as pd

data = pd.read_csv('C:\\Users\Fatima Ahmad\\Desktop\\SFLScientific Solution\\SFL-Scientific-Assesment\\DATA.csv')   
df = pd.DataFrame(data)

print(df)

       id  first_name   last_name                       email       gender  \
0       1  Margaretta  Laughtisse  mlaughtisse0@mediafire.com  Genderfluid
1       2       Vally     Garment          vgarment1@wisc.edu     Bigender
2       3       Tessa       Curee             tcuree2@php.net     Bigender
3       4       Arman   Heineking   aheineking3@tuttocitta.it         Male
4       5     Roselia     Trustie            rtrustie4@ft.com   Non-binary
..    ...         ...         ...                         ...          ...
995   996      Roxana      Prandi          rprandirn@ox.ac.uk      Agender
996   997     Matthus     Chadwin         mchadwinro@hibu.com       Female
997   998       Artur   Fairbanks       afairbanksrp@live.com     Bigender
998   999      Amalee     Bingall        abingallrq@yandex.ru  Genderqueer
999  1000     Gunther      Karlik        gkarlikrr@smh.com.au  Genderfluid

          ip_address
0     34.148.232.131
1      15.158.123.36
2    132.209.143.225
3     157.110.61.233
4       49.55.218.81
..               ...
995   227.67.205.244
996  189.120.124.155
997  246.169.244.242
998   16.201.179.189
999     0.14.221.255

[1000 rows x 6 columns]

In [2]:
#Combine first and last name to full name
df['name'] = df['first_name'].str.cat(df['last_name'],sep=" ")
print(df)

       id  first_name   last_name                       email       gender  \
0       1  Margaretta  Laughtisse  mlaughtisse0@mediafire.com  Genderfluid
1       2       Vally     Garment          vgarment1@wisc.edu     Bigender
2       3       Tessa       Curee             tcuree2@php.net     Bigender
3       4       Arman   Heineking   aheineking3@tuttocitta.it         Male
4       5     Roselia     Trustie            rtrustie4@ft.com   Non-binary
..    ...         ...         ...                         ...          ...
995   996      Roxana      Prandi          rprandirn@ox.ac.uk      Agender
996   997     Matthus     Chadwin         mchadwinro@hibu.com       Female
997   998       Artur   Fairbanks       afairbanksrp@live.com     Bigender
998   999      Amalee     Bingall        abingallrq@yandex.ru  Genderqueer
999  1000     Gunther      Karlik        gkarlikrr@smh.com.au  Genderfluid

          ip_address                   name
0     34.148.232.131  Margaretta Laughtisse
1      15.158.123.36          Vally Garment
2    132.209.143.225            Tessa Curee
3     157.110.61.233        Arman Heineking
4       49.55.218.81        Roselia Trustie
..               ...                    ...
995   227.67.205.244          Roxana Prandi
996  189.120.124.155        Matthus Chadwin
997  246.169.244.242        Artur Fairbanks
998   16.201.179.189         Amalee Bingall
999     0.14.221.255         Gunther Karlik

[1000 rows x 7 columns]

In [3]:
import pyodbc as pc
# Connect to SQL Server
connection_string = "Driver=SQL Server;Server=DESKTOP-KGB2GN4;Database={0};Trusted_Connection=Yes;"                           
cnxn = pc.connect(connection_string.format("SFL"), autocommit=True)
cur=cnxn.cursor()
# Create Table
cur.execute('''
           CREATE TABLE  Data (
            id int,
            first_name varchar(50),
            last_name varchar(50),
            email varchar(100),
            gender varchar(50),
            ip_address varchar(100),
            name varchar(100))
               ''')
cnxn.close()

In [4]:
# Connect to SQL Server
connection_string = "Driver=SQL Server;Server=DESKTOP-KGB2GN4;Database={0};Trusted_Connection=Yes;"                           
cnxn = pc.connect(connection_string.format("SFL"), autocommit=True)
cur=cnxn.cursor()

for row in df.itertuples():
    cur.execute('''
                INSERT INTO data (id, first_name, last_name, email, gender, ip_address, name)
                VALUES (?,?,?,?,?,?,?)
                ''',
                row.id, 
                row.first_name,
                row.last_name,
                row.email, 
                row.gender,
                row.ip_address,
                row.name
                )
cnxn.close()